[submodule "finance-binance-getaway"]
	path = finance-binance-getaway
	url = git@github.com:orlinzer/finance-binance-getaway.git
	branch = main
[submodule "finance-documentation"]
	path = finance-documentation
	url = git@github.com:orlinzer/finance-documentation.git
	branch = main
[submodule "finance-predictions-service"]
	path = finance-predictions-service
	url = git@github.com:orlinzer/finance-predictions-service.git
	branch = main
[submodule "finance-web-ui"]
	path = finance-web-ui
	url = git@github.com:orlinzer/finance-web-ui.git
	branch = main
